
<%= form_tag("/", method: "get", id: "beer-search") do %>
  <%= text_field_tag(:q, nil, class: 'search', value: params[:q]) %>
<% end %>

<% if @error %>
  <div class="error">
    <p><%= @error %></p>
  </div>
<% end %>

<div id="results">
  <% if @beers && @beers.empty? %>
    <p>Your search returned no results. :(</p>
  <% end %>
  <ul>
  <% @beers.each do |beer| %>
    <li class="beer">
      <% if beer.image_url %>
        <img src='<%= beer.image_url %>'>
      <% else %>
        <img src='http://fillmurray.com/g/256/256'>
      <% end %>
      <span class="name"><%= beer.name %></span>
      <span class="description"><%= beer.description %></span>
      <span class="abv">Alcohol by volume: <%= beer.abv %>%</span>

      <%= form_tag(static_pages_search_path, method: "post", id: "beer-show", class: "beerid") do %>
        <%= hidden_field_tag('beerid', beer.id) %>
        <%= submit_tag("More Info", class: 'button') %>
      <% end %>

    </li>
  <% end if @beers %>
  </ul>
</div>
